/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  .main-header,
  .main-nav {
    display: flex;
  }
  
  .main-header {
    flex-direction: column;
    align-items: center; /* When flex direction is set to column, in this way the h1 and */
                         /* nav links will be on different lines and in column direction */
                         /* align-items centers the items horizontally on the page */
  }

  .row {
    display: flex;
  }

  .col {
    flex: 1;
  }
  
}

@media (min-width: 1025px) {

  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .primary {
    flex: 2;
  }

}